@import "tailwindcss";

@theme inline {
  --color-background: #f2f0e9;
  --color-foreground: #1a1a1a;

  --color-primary: #0f6b64;
  --color-primary-foreground: #f2f0e9;

  --color-accent: #0c20ffb8;
  --color-accent-foreground: #1a1a1a;

  --color-muted: #e8e5db;
  --color-muted-foreground: #6b6b62;

  --color-border: #ddd9cc;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius: 0.75rem;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}